<aside class="sidebar">
  <nav>
    <a routerLink="/dashboard" routerLinkActive="active">
      <i class="pi pi-home"></i>
      <span>Dashboard</span>
    </a>

    <a routerLink="/patients" routerLinkActive="active">
      <i class="pi pi-users"></i>
      <span>Pacientes</span>
    </a>

    <a routerLink="/appointments" routerLinkActive="active">
      <i class="pi pi-calendar"></i>
      <span>Agenda</span>
    </a>

    @if (authService.isAdmin()) {
      <a routerLink="/users" routerLinkActive="active">
        <i class="pi pi-user-plus"></i>
        <span>Usuarios</span>
      </a>
    }
  </nav>
</aside>
